.imageContainer{
  position: relative;
  overflow:hidden;
  /* height: 100px; */
}

.card{
  height: 350px;
}

a:hover{
  text-decoration:none;
}

.navbar-brand:hover{
  color: rgba(255,255,255,.5) !important
}

.filterbox{
  text-align: center;
  width: 75%;
  background-color: yellow;
  margin: auto;
  position: absolute;
  transform: translateY(-50%);
  left: 12.5%;
  border-radius: 20px;
}

.filter-section-header{
  color:gray;
  font-size:1.5rem;
  padding-top:10px;
}

.filters-li:hover{
  background-color: red;
  color:white;
}

.filter-section-category{
  margin-bottom:0.25rem;
}

.filters-ul{
list-style:none;
padding-left:0;
}

.filters-li{
  margin-bottom:0.25rem;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity:0.8;
  background-color:white;
  border-radius:10px;
  /* display:none; */
  white-space: nowrap;
  width:0;
  /* padding:0; */
  overflow:hidden;
  transition: width 0.5s ease;
  /* transition: padding 0.5s ease; */
  text-align:center;
  padding:5px 0;

}

.imageContainer:hover .centered {
  /* display:block; */
  width:250px;
  /* padding:5px 10px;  */

}
.why-cool-question{
  padding:0;
  color:green;
}

.card-company-name{
  font-size: 1em;
  text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #B2B1B9;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
/* @media (min-width: 768px) { */
  .jumbotron {
    padding-top: 6rem;
    /* padding-bottom: 6rem; */
  }
/* } */



.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

a{
      text-decoration-line: none;

}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}